body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.static-text {
    font-size: 26px;
    font-family: "Cascadia Code", "Cascadia Mono", monospace;
    color: black;
}

.cursor {
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}
